<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css"/>
    <title>Ravi Patel :: CV - {{title}}</title>
</head>
<body>
    <header>
        <div class="icon">
            {{!-- <img src="#"> --}}
            <h1>Project Bat</h1>
        </div>
        <nav class="navbar">
            <ul class="link-list">                
                <li id="link1"><a href="/aboutme">About Me</a></li>
                <li id="link2"><a href="/education">Education</a></li>
                <li id="link3"><a href="/skills">Skillset</a></li>
                <li id="link4"><a href="/experience">Experience</a></li>
                <li id="link5"><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    <div class="prefooter">

    </div>

    <footer>
        <div id="copyright">
            <p class="foot-mid">&copy;2018. Ravi Patel.</p>
        </div>
        <div class="contact">
            <ul class="social foot-mid">
                <li><a href="https://www.facebook.com/rpatel1291" target="_self"><img id="connect" src="/public/img/fb-art.png" alt="facebook"></a></li>
                <li><a href="https://www.github.com/rpatel1291" target="_blank"><img id="connect" src="/public/img/index.png" alt="github"></a></li>
                <li><a href="https://www.linkedin.com/in/rpatel1291" target="_self"><img id="connect" src="/public/img/linkedin.png" alt="linkedin"></a></li>
                <li><a href ="/emailme" target="_self"><img id="connect" src="/public/img/email.jpg" alt="email"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>