<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=decive-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css" type="text/css"/>
    <title>Ravi Patel :: CV - {{title}}</title>
</head>
<body>
    <header>
        <div class="icon">
            <h1>Project Bat</h1>
        </div>
        <nav class="nav justify-content-center|justify-content-end">
            <ul class="link-list">                
                <li id="link1"><a href="/aboutme">About Me</a></li>
                <li id="link2"><a href="/education">Education</a></li>
                <li id="link3"><a href="/skills">Skillset</a></li>
                <li id="link4"><a href="/experience">Experience</a></li>
                <li id="link5"><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div id="copyright">
            <p class="foot-mid"><strong>&copy;2018. Ravi Patel.</strong></p>
        </div>
        <div class="contact">
            <ul class="social foot-mid">
                <li><a href="https://www.facebook.com/rpatel1291" target="_self"><img class="connect" src="/public/img/fb-art.png" alt="facebook"></a></li>
                <li><a href="https://www.github.com/rpatel1291" target="_blank"><img class="connect" src="/public/img/index.png" alt="github"></a></li>
                <li><a href="https://www.linkedin.com/in/rpatel1291" target="_self"><img class="connect" src="/public/img/linkedin.png" alt="linkedin"></a></li>
                <li><a href ="/emailme" target="_self"><img class="connect" src="/public/img/email.jpg" alt="email"></a></li>
            </ul>
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>