<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css"/>
    <title>Ravi Patel :: CV - {{title}}</title>
</head>
<body>
    <header>
        <div class="icon">
            {{!-- <img src="#"> --}}
            <h1>Project Bat</h1>
        </div>
        <nav class="navbar">
            <ul class="link-list">                
                <li id="link1"><a href="/aboutme">About Me</a></li>
                <li id="link2"><a href="/education">Education</a></li>
                <li id="link3"><a href="/skills">Skillset</a></li>
                <li id="link4"><a href="/experience">Experience</a></li>
                <li id="link5"><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="contact">
            <h4 class="foot-mid">Ways to Contact Me</h4>
            <ul class="social foot-mid">
                <li><img src="#" alt="linkedin"></li>
                <li><img src="#" alt="github"></li>
                <li><img src="#" alt="email"></li>
            </ul>
        </div>
        <div id="copyright">
            <p class="foot-mid">&copy;2018. Ravi Patel</p>
        </div>
    </footer>
</body>
</html>