<link href="/public/css/aboutme.css" type="text/css" rel="stylesheet">

<div id="aboutme-div">
    <h2 id="aboutme-h2">About Me</h2>
    <section id="aboutme-section">
        <article class="aboutme-image">
            <img id="aboutme-self" src="/public/img/20180512_200454.jpg"/>
        </article>
        
        <article class="aboutme-text">
            <h3 id="aboutme-text-h3">Personal Information</h3>
            <p id="aboutme-text-p"></p>
            <p></p>
        </article>
        <p class="clear"></p>
    </section>
</div>
<div id="aboutme-footer">

</div>