<link href="/public/css/aboutme.css" type="text/css" rel="stylesheet">

<div id="aboutme-div">
    <section id="aboutme-section">
        <article class="aboutme-image">
            <img id="aboutme-self" src="/public/img/20180512_200454.jpg"/>
        </article>
        
        <article class="aboutme-text">
            <h2 id="aboutme-h2">Ravi Patel</h2>
            <h3 id="aboutme-h3">Student at Stevens Institute of Technology</h3>
            <p id="aboutme-text-p"> 
                I am a <strong>Software Engineer</strong> and <strong>Data Analyst</strong> enthusiast. 
                As a graduate student from Queens College (Bachelor of Science degree in Computer Science)
                 and currently a Master student at Stevens Institute of Technology (Master of Science in 
                 Computer Science concentrating in Data Science), I have extensive experience with Java while learning 
                 and practicing the fundamentals of software engineering. Continuing my passion in programming, I am learning 
                 a few different languages such as HTML/CSS, JavaScript, Python, R and SQL to strengthen my foundation in 
                 web/software development as well as data science.  
            </p>
            <p id="aboutme-text-p">
                My hobbies include programming, working out at the gym, playing video games, listening to music, going out with friends and family, 
                working on DIY projects, and reading comics.
            </p>
        </article>
        <p class="clear"></p>
    </section>
</div>
<div id="aboutme-footer">

</div>