<div id="education-div">
    <h2>Education</h2>
    <div>
        <button>Undergraduate</button>
        <button>Graduate</button>
    </div>
    <section class="education-section">
        <article class="education-undergrad">
            <div class="undergrad-school">
                <h3 class="school-name"><abbr title="City University of New York">CUNY</abbr> - Queens College</h3>
                <p class="school-location">Flushing, New York</p>
                <p class="school-degree">Bachelor of Science</p>
                <p class="school-major">Computer Science</p>
                <p class="school-minor">Mathematics</p>
                <ul class="courselist">
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </article>
        <article class="education-graduate">
            <div class="grad-school">

            </div>
        </article>
    </section>
</div>

