<link href="/public/css/education.css" type="text/css" rel="stylesheet">
<div id="education-div">
    <h2>Education</h2>
    <hr>
    <div id="button-list">
        <button id="undergrad-button" class="button">Undergraduate</button>
        <button id="grad-button" class="button">Graduate</button>
    </div>
    <hr>
    <section class="education-section">
        <article class="education-undergrad visible">
            <div class="undergrad-school">
                <h3 class="school-name"><strong><abbr title="City University of New York">CUNY</abbr> - Queens College</strong></h3>
                <p class="school-location">Location: Flushing, New York</p>
                <p class="school-degree">Degree: Bachelor of Science</p>
                <p class="school-major">Major: Computer Science</p>
                <p class="school-minor">Minor: Mathematics</p>
                <ul class="under-grad-courselist"><span>Computer Science Courses:</span>
                    <li id="under-grad-course" >CS 88: Introduction to Web Programming</li>
                    <li id="under-grad-course" >CS 111: Intro to Algorithmic Problem Solving</li>
                    <li id="under-grad-course" >CS 211: Object Oriented Programming in C++</li>
                    <li id="under-grad-course" >CS 212: Object Oriented Programming in Java</li>
                    <li id="under-grad-course" >CS 220: Discrete Structures</li>
                    <li id="under-grad-course" >CS 240: Computer Organization and Assembly Language</li>
                    <li id="under-grad-course" >CS 313: Data Structures</li>
                    <li id="under-grad-course" >CS 320: Theory of Computation</li>
                    <li id="under-grad-course" >CS 343: Computer Architecture</li>
                    <li id="under-grad-course" >CS 323: Design and Analysis of Algorithms</li>
                    <li id="under-grad-course" >CS 331: Database</li>
                    <li id="under-grad-course" >CS 370: Software Engineering</li>
                    <li id="under-grad-course" >CS 316: Principlesof Programming Languages</li>
                    <li id="under-grad-course" >CS 340: Operating Systems</li>
                    <li id="under-grad-course" >Elective: Data Mining and Warehousing</li>
                    <li id="under-grad-course" >Elective: Advance Programming Techniques</li>
                    <li id="under-grad-course" >Elective: Internet Security</li>
                    <li id="under-grad-course" >Elective: Computer Graphics</li>
                    <li id="under-grad-course" class="math-section" ><span>Math Courses:</span>
                        <ul>
                            <li id="under-grad-course">Calculus I, II and III (Differential, Integration, Multivariable)</li>
                            <li id="under-grad-course">Probability and Statistic</li>
                            <li id="under-grad-course">Discrete Mathematics</li>
                            <li id="under-grad-course">Linear Algebra</li>
                            <li id="under-grad-course">Differential Equations</li>
                        </ul>
                    </li>
                    <li id="under-grad-course" class="science-section" ><span>Science Courses:</span>
                        <ul>
                            <li id="under-grad-course">Physics I, II and Solid State</li>
                            <li id="under-grad-course">Chemistry I and II</li>
                            <li id="under-grad-course">Intro to Astronomy</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </article>
        <article class="education-graduate hidden">
            <div class="grad-school">
                <h3 class="school-name"><strong>Stevens Institute of Technology</strong></h3>
                <p class="school-location">Location: Hoboken, New Jersey</p>
                <p class="school-degree">Degree: Master of Science</p>
                <p class="school-major">Computer Science</p>
                <ul class="grad-courselist"><span>Courses:</span>
                    <li id="grad-course" >CS546: Web Programming</li>
                    <li id="grad-course" >CS562: Database Management Systems 2</li>
                    <li id="grad-course" >CS513: Knowledge Discovery and Data Mining</li>
                    <li id="grad-course" >CS553: Introduction to Text Mining/Natural Language Processing</li>
                    <li id="grad-course" >CS554: Web Programming 2</li>
                    <li id="grad-course" >CS593: Data Mining II: Advanced Algorithms for Mining Big Data</li>
                </ul>
            </div>
        </article>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/js/education.js"></script>