<link href="/public/css/experience.css" type="text/css" rel="stylesheet">

<div id="experience-div">
    <h2>My Experiences</h2>
    <p>Earliest to Lastest</p>
    <hr>
    <section id="experience-section">
        <article id="experience1">
            <div class="company-detail">
                <h3 class="company-name">Queens College</h3>
                <p class="company-location">Flushing, New York</p>
            </div>
            <div class="position-detail">
                <h4 class="position-title">Teaching Assistant, Data Mining and Warehousing</h4>
                <p class="duration">
                    <span class="starting">October 2016</span> - <span class="ending">January 2017</span>
                </p>
                <p class="clear"></p>
            </div>
            <ol class="duty-list">
                <li class="duty-task">1. Administered and reviewed students’ assignments and exams</li>
                <li class="duty-task">2. Researched special topics around “The Planned Behavior” model and created experimental models to test for self-improvement</li>
            </ol>
        </article>

        <hr>

        <article id="experience2">
            <div class="company-detail">
                <h3 class="company-name">Information Management Services(IMS), Inc.</h3>
                <p class="company-location">Rockville, Maryland</p>
            </div>
            <div class="position-detail">
                <h4 class="position-title">SAS Programmer/Analyst I</h4>
                <p class="duration">
                    <span class="starting">December 2016</span> - <span class="ending">October 2017</span>
                </p>
            </div>
            <ol id="duty-list">
                <li class="duty-task">1. Programmed scripts in SAS that summarized and identified data variations in delivered datasets</li>
                <li class="duty-task">2. Reviewed the different data variations and developed scripts to maintain a coherent format</li>
                <li class="duty-task">3. Organized and maintained multiple datasets to build a single master dataset</li>
                <li class="duty-task">4. Presented the overall trial and addressed all findings to supervisors and managers</li>
            </ol>
        </article>

        <hr>

        <article id="experience3">
            <div class="company-detail">
                <h3 class="company-name">CancerMeOut</h3>
                <p class="company-location">New Hyde Park, New York</p>
            </div>
            <div class="position-detail">
                <h4 class="position-title">Web Developer/Full Stack Developer</h4>
                <p class="duration">
                    <span class="starting">December 2018</span> - <span class="ending">Present</span>
                </p>
            </div>
            <ul class="duty-list">
                <li class="duty-task">1. Designed a website layout to client specification</li>
                <li class="duty-task">2. Developed a donation website using a MERN stack that is both visually appealing and meets desired goals</li>
                <li class="duty-task">3. Presented the website to client on bi-monthly basis to collect feedback for improvements</li>                
            </ul>

        </article>
    </section>
</div>