<link href="/public/css/skills.css" type="text/css" rel="stylesheet">

<div id="skills-div">
    <h2>My Skillset</h2>
    <hr>
    <section>
    <article id="web-dev">
        <h3 id="web-dev-title">Web Programming</h3>
        <ul id="skill-list">
            <li id="skill-item">HTML/CSS</li>
            <li id="skill-item">JavaScript</li>
            <li id="skill-item">React.js</li>
            <li id="skill-item">Express.js</li>
            <li id="skill-item">Node.js</li>
            <li id="skill-item">Restful API</li>
            <li id="skill-item">MERN Stack</li>
        </ul>
    </article>
    
    <article id="oop">
        <h3 id="oop-title">Programming Languages</h3>
        <ul id="skill-list">
            <li id="skill-item">Java</li>
            <li id="skill-item">Python</li>
            <li id="skill-item">C++</li>
            <li id="skill-item">C#</li>
            <li id="skill-item">SQL</li>
        </ul>
    </article>

    <article id="dbms">
        <h3 id="dbms-title">Database Management Systems</h3>
        <ul id="skill-list">
            <li id="skill-item">MySQL</li>
            <li id="skill-item">PostgreSQL</li>
            <li id="skill-item">SQL Server</li>
            <li id="skill-item">MongoDB</li>
        </ul>
    </article>

    <article id="statistical">
        <h3 id="statistical-title">Statistical Programming Languages</h3>
        <ul id="skill-list">
            <li id="skill-item">SAS</li>
            <li id="skill-item">R</li>
        </ul>
    </article>

    </section>
    
</div>
