div#aboutme-div {
    background-color: rgba(245, 245, 220, 0.616);
    padding: 1% 1.5%;
}

h2#aboutme-h2 {
    text-align: center;
    text-shadow: 1px 1px #F9BD02;
    text-decoration: underline;
    /* border: 1px black solid; */
    padding: 1% 0px;
    font-variant: small-caps;
}

section#aboutme-section {
    max-width: 100%;
    padding: 1% 0;
    /* border: 1px black solid; */
}

article.aboutme-image {
    float: left;
    width: 50%;
}

img#aboutme-self {
    width: 400px;
    border-radius: 15%;
    padding: 2% 2%;
    background-color: #3c3c3c8a;
    margin-top: 2%;
    margin-left: 2%;
}

article.aboutme-text {
    float: right;
    width: 50%;
}

h3#aboutme-text-h3 {
    text-align: center;
}

p#aboutme-text-p {
    text-indent: .5in;
}

div#aboutme-footer {
    height: 2.5%;
}