div#aboutme-div {
    /* background-color: 778899; */
    width: inherit;
    /* padding: 1% 1.5%; */
    /* width: inherit; */
    /* overflow: auto;*/
}

h2#aboutme-h2 {
    text-align: center;
    text-shadow: 1px 1px #F9BD02;
    /* text-decoration: underline; */
    /* border: 1px black solid; */
    padding: 1% 0 0;
    font-variant: small-caps;
    font-size: 2.5em;
}

h3#aboutme-h3 {
    text-align: center;
    /* padding: 0 0 1% 0; */
    font-size: .8em;
    font-weight: lighter;
}

section#aboutme-section {
    max-width: 100%;
    padding: 1em 0;
    /* border: 1px black solid; */
}

article.aboutme-image {
    /* float: left; */
    width: 40%;
    margin: 0 auto;
}

img#aboutme-self {
    width: 100%;
    height: auto;
    border-radius: .3em;
    padding: .6em;
    background-color: #3c3c3c8a;
    margin: 1rem auto;
    /* margin-left: .5em; */
}

article.aboutme-text {
    /* float: right; */
    width: 100%;
    height: inherit;
    background-color: #ffffff9a;
    padding: 2% 0;
    margin-top: 1%;
}

span#aboutme-span {
    color: #F9BD02;
    text-shadow: 1px 1px #000000e5;
}

p#aboutme-text-p {
    width: 80%;
    margin: 2% 10%;
    font-size: 1em;
    text-align: justify;
    text-indent: 1em;
}


/* div#aboutme-footer {
    height: 2.5%;
} */