    div#education-div {
        margin-top: 1em;
        width: inherit;
        background-color: #ffffff4b;
    }
    
    h2 {
        text-shadow: .05em .05em #F9BD02;
        font-size: 2.5em;
        padding-top: .5em;
        font-variant: small-caps;
        text-decoration: underline;
    }
    
    h3 {
        text-decoration: underline;
    }
    
    h3.school-name {
        margin-bottom: -.2em;
    }
    
    button {
        margin: 0 1em;
        font-variant: small-caps;
        font-size: 1em;
        border-color: #778899;
    }
    
    p.school-location,
    p.school-degree,
    p.school-major,
    p.school-minor {
        margin: 0em 0 0em;
        padding: 0em;
    }
    
    ul.under-grad-courselist,
    ul.grad-courselist {
        margin: 1em;
    }
    
    li#under-grad-course,
    li#grad-course {
        display: block;
    }
    
    li.science-section,
    li.math-section {
        margin: 1.5em 0;
    }
    
    span {
        font-size: 1.5em;
        font-weight: bolder;
    }
    
    .visible {
        visibility: visible;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    article {
        position: relative;
        top: 1.5em;
    }
    
    article.education-undergrad {
        background: linear-gradient(.25turn, #778899, #FFF, #778899);
        border-radius: 1em;
        width: 80%;
        padding: 3em 0 2em;
        margin: 0 auto;
        text-shadow: #F9BD02 1px 1px;
        top: 2em;
    }
    
    article.education-graduate {
        position: relative;
        top: -63em;
        background: linear-gradient(.25turn, #778899, #FFF, #778899);
        border-radius: 1em;
        width: 80%;
        padding: 5em 0 10em;
        margin: 0 auto;
        text-shadow: #F9BD02 1px 1px;
    }
    
    footer {
        position: relative;
        /* top: 18em; */
    }
    
    button:hover {
        animation-name: background-color;
        animation-duration: 500ms;
        animation-fill-mode: both;
    }
    
    @keyframes button_hover {
        0% {
            background-color: #FFF;
        }
        100% {
            color: white;
            background-color: black;
        }
    }