* {
    margin: 0;
    padding: 0;
    /* max-width: 100%; */
}

body {
    background-image: url('/public/img/apple-apple-device-design-285814.jpg');
    background-repeat: repeat;
    background-size: cover;
    overflow: visible;
}

header {
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 60px;
    position: fixed;
    background: #192231;
}

.icon {
    position: relative;
    float: left;
    height: inherit;
    width: 40%;
    text-align: center;
    /* padding: 10px; */
    border-right: white solid 1px;
}

h1 {
    margin: 2%;
    color: rgba(255, 255, 255, 0.281);
    font-variant: small-caps;
    text-shadow: 1px 1px #F9BD02;
    font-size: 36px;
}

.navbar {
    position: relative;
    left: 6%;
    float: right;
    height: inherit;
    width: 60%;
    bottom: 60px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.link-list {
    width: inherit;
    display: inline-flex;
    list-style-type: none;
}

li {
    text-align: center;
    padding: 2%;
    margin: 2% auto;
}

a {
    font-size: 18px;
    text-decoration-line: none;
    font-variant: small-caps;
    color: #F9BD02;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.281);
}

a:hover {
    color: #F9BD02;
}

a:visited {
    color: #F9BD02;
}

main {
    position: absolute;
    top: 105px;
    bottom: 100px;
    width: 80%;
    border: black 2px solid;
    overflow: auto;
    left: 10%;
    right: 10%;
}

div.prefooter {
    height: 60px;
}

footer {
    /* position: relative; */
    width: 100%;
    left: 0;
    bottom: 0;
    background: #192231;
    color: rgba(255, 255, 255, 0.281);
    text-shadow: 1px 1px #F9BD02;
    z-index: 9999;
    position: fixed;
}

h4 {
    position: relative;
    left: 42%;
    right: 50%;
    text-decoration: underline;
}

.social {
    position: relative;
    left: 42%;
    right: 50%;
    display: inline-flex;
    list-style-type: none;
}

.foot-mid {
    position: relative;
    left: 50%;
    right: 50%;
}

#copyright {
    padding-top: 10px;
}

#connect {
    width: 30px;
    resize: both;
    border-radius: 50%;
}